name: cd

on:
  push:
    branches: [main]

jobs:
    Deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
            -   name: Check out code
                uses: actions/checkout@v4

            -   name: Set up Go
                uses: actions/setup-go@v5
                with:
                    go-version: "1.25.1"

            -   name: Build
                run: ./scripts/buildprod.sh

            -   id: 'auth'
                uses: 'google-github-actions/auth@v2'
                with:
                    credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

            -   name: 'Set up Cloud SDK'
                uses: 'google-github-actions/setup-gcloud@v3'

            -   name: 'Use gcloud CLI'
                run: 'gcloud info'

            -   name: Get short commit SHA
                id: vars
                run: |
                  # get short sha (7 chars)
                  SHORT_SHA=$(git rev-parse --short=7 HEAD)
                  echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_OUTPUT    

            - name: "push to gcloud"
              run: |
                IMAGE="europe-west3-docker.pkg.dev/notely-477319/notely-ar-repo/notely:${{ steps.vars.outputs.SHORT_SHA }}"
                echo "Using image tag: $IMAGE"
                gcloud builds submit --tag "$IMAGE" .